schemas/main_schema.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    The SPUD base schema
    include "spud_base.rnc"
  -->
  <define name="constructor_types">
    <!--
      # Construtor 1
      element constructor {
    -->
    <!--
          element output_dir { xsd:string },
          element steps { xsd:integer }
      }|
      # Construtor 2
      element constructor {
    -->
    <!--
          element output_dir { xsd:string },
          element steps { xsd:integer },
          element compression { "true" | "false" }
      }|
      Construtor 3
    -->
    <element name="constructor">
      <element name="output_dir">
        <a:documentation>Output directory for the files to be produced during a simulation.</a:documentation>
        <data type="string"/>
      </element>
      <element name="steps">
        <a:documentation>Number of iteration steps the MD algorithm should run for.</a:documentation>
        <data type="integer"/>
      </element>
      <element name="compression">
        <a:documentation>Set the flag for incremental resizing of the simulation box.
Set to true for phase transition studies else set to false.</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </element>
      <element name="rdf_bins">
        <a:documentation>Accuracy of the Radial Distribution Function (RDF).
A large number of bins will result into a very accurate RDF,
however if the simulation is short (small number of steps) the
results will be dominated by statistical noise.</a:documentation>
        <data type="integer"/>
      </element>
      <element name="particles_per_axis">
        <a:documentation>Number of particles per axis (x, y, z).
This in combination with the lattice formation will yield
a total number of particles equal to:
SC: particles_per_axis **3

FCC: particles_per_axis **3 *4

BCC: particles_per_axis **3 *2</a:documentation>
        <data type="integer"/>
      </element>
      <element name="lattice">
        <a:documentation>Available initial lattice formations:

SC: Simple Cubic

FCC: Face Centred Cubic

BCC: Body Centred Cubic</a:documentation>
        <choice>
          <value>SC</value>
          <value>FCC</value>
          <value>BCC</value>
        </choice>
      </element>
      <element name="track_particles">
        <a:documentation>If enabled will save in ASCII format the positions of all the
particles for the entire simulation.
The datafiles can then be viewd with the python tools.
NOTE: For large simulations this will be slow.</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </element>
      <element name="rdf_equilibrate">
        <a:documentation>An equilibriation period for the RDF in time step units.
The RDF will begin to be collected rdf_equilibrate steps
from the start of the simulation.</a:documentation>
        <data type="integer"/>
      </element>
    </element>
  </define>
  <define name="simulation">
    <!-- core of simulation -->
    <element name="simulation_input">
      <element name="rho">
        <a:documentation>Fluid denisty (unitless).</a:documentation>
        <data type="double"/>
      </element>
      <element name="T">
        <a:documentation>Fluid temerature (unitless).</a:documentation>
        <data type="double"/>
      </element>
      <element name="n">
        <a:documentation>Pair potential strength.
Normal values are between 6 - 12.</a:documentation>
        <data type="double"/>
      </element>
      <element name="A">
        <a:documentation>Softening parameter. Only applicable for some pair potentials.</a:documentation>
        <data type="double"/>
      </element>
      <element name="pp">
        <a:documentation>Available pair potentials:

BIP: Bounded Inverse Power, 1/(r**2 + a**2)**n

GCM: Gaussian Core Model, exp(-r**2)

EXP: Exponetial Potential, A * exp(-r**n)

LJ: Lennard-Jones Potential, 1/r**12 - 1/r**6
</a:documentation>
        <choice>
          <value>BIP</value>
          <value>GCM</value>
          <value>EXP</value>
          <value>LJ</value>
        </choice>
      </element>
    </element>
  </define>
  <start>
    <element name="input_variables">
      <ref name="constructor_types"/>
      <ref name="simulation"/>
      <element name="enable_testing">
        <a:documentation>Enable to for unit testing.</a:documentation>
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </element>
    </element>
  </start>
</grammar>
